Repository Madrona-Games/pull-request-comment-branch: changes, and which lefthook commands are due for each by the changed paths.
All: format documents, format configs, format code, run tests, make shell script executable

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#

color: true
extends: {}

pre-commit:
  parallel: true
  commands:
    format documents:
      glob: '*.{md,mdx}'
      run: npx prettier --write {staged_files}
    format configs:
      glob: '*.{json,yml,yaml}'
      run: npx prettier --write {staged_files}
    format code:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: npx prettier --write {staged_files} && npx eslint {staged_files} && git add {staged_files}
    run tests:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'dist/'
      run: echo no tests
    build distributables:
      skip: ['merge', 'rebase']
      run: npm run build && git add dist
    make shell script executable:
      glob: '*.sh'
      run: git update-index --chmod=+x

Fix action input/output naming
  README.md
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: format documents, format code, run tests

Add build workflow
  .github/workflows/build.yml
  dist/index.js
  dist/index.js.map
Due: format configs

Switch to public runner
  .github/workflows/build.yml
Due: format configs

Test workflow
  dist/index.js
  dist/index.js.map
  package-lock.json
Due: format configs

Fix should push check
  .github/workflows/build.yml
Due: format configs

Add job name
  .github/workflows/build.yml
Due: format configs

Fix permissions
  .github/workflows/build.yml
Due: format configs

Update dependabot workflow
  .github/workflows/build.yml
  .github/workflows/dependabot_build.yml
  dist/index.js
  dist/index.js.map
  package.json
Due: format configs

Update packages
  .eslintignore
  .eslintrc.json
  action.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  esbuild.config.mjs
  eslint.config.mjs
  licenses.txt
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: format configs, format code, run tests

Workflow cleanup
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot_build.yml
  .github/workflows/versioning.yml
Due: format configs

Update packages (#7)
  .eslintignore
  .eslintrc.json
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot_build.yml
  .github/workflows/versioning.yml
  action.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  esbuild.config.mjs
  eslint.config.mjs
  licenses.txt
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: format configs, format code, run tests
